// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins.css.scss';

$blue: #48B1E9;

.todoTab, .inprogressTab, .completedTab {
  @include top_border_radius(5px);
  background: $blue;
  color:#fff;
  padding:10px 15px;
  display:block;
  width:33%;
  margin-left:6px;
}

.itemlists {
  list-style:none;
  overflow:hidden;
  div {
    width:28%;
    float:left;
  }
  ul {
    padding:5px;
    margin:0 1% 0 0;
    background: #A7D8F0;
    min-height:35px;
    @include border_radius(10px);
    .item {
      color:#fff;
      @include border_radius(10px);
      background: $blue;
      margin:5px 0;
      padding:5px 10px;
    }
  }
}

.project .newItem {
  display:none;
  z-index:5;
  position:absolute;
  top:200px;
  left:0px;
  width:20%;
  border:1px solid #333;
  @include border_radius(10px);
  padding:25px 35px;
  background:white;
  textarea {
    display:block;
    width:90%;
    height:10%;
  }
}