@mixin border_radius($rad) {
  -webkit-border-radius: ($rad);
  -moz-border-radius: ($rad);
  border-radius: ($rad);
}

@mixin top_border_radius($rad) {
  -webkit-border-radius: $rad $rad 0 0;
  -moz-border-radius: $rad $rad 0 0;
  border-radius: $rad $rad 0 0;
}